.container-fuluid
  = current_user.email
  %br/
  = current_user.name
  %br/
  = current_user.nickname
  %br/
  = current_user.image
  %br/
  = current_user.location
  %br/
  = link_to "ログアウト", destroy_user_session_path, method: :delete

