.modal-content{id: "con#{post.id}"}
  .modal-post-title
    タイトル：
    = "#{post.title}"
  .modal-post-access_url
    = "#{post.access_url}"
  .modal-post-description
    = "#{post.description}"
  .modal-post-user
    = "#{post.user_id}"

  %p
  %a.modal-close.btn.btn-primary.text-white 閉じる