.wrap
  = video_tag "top_movie.mp4", poster:"top_image.jpg",autoplay: true, loop: true, id:"bg-video"
  .header-title
  
  .container-fluid
    .row
      .col-3
      .col-6
        .jumbotron.register-box
          .text-center.register-box-description
            『mokucchi』を今すぐ始めるにはこちら
          %br/
          .text-center
            = link_to user_twitter_omniauth_authorize_path, class:"btn btn-primary btn-block" do
              = icon('fab', 'twitter')
              Twitterアカウントで始める
          %br/
          .text-center
            = link_to new_user_registration_path, class:"btn btn-secondary btn-block" do
              = icon('far','envelope')
              メールアドレスで始める
      .col-3


