- if user_signed_in?
  .container-fuluid
    = render partial: "layouts/side-contents"

    .main-contents
      .container.text-center
        .title-box
          %h1.content-title 開催中のもくもく会

        .card-box.card-deck
          - @posts.each do |post|
            .row.card-margin
              .card.postcard.border-primary
                - if post.upload_image.url
                  = image_tag post.upload_image.url, class: "postcard-img"
                - else
                  = image_tag "top_image.jpg", alt: "postcard-image", class: "postcard-img"
                .card-content.card-body
                  .card-title
                    = post.title
                  .card-text
                    %a.modal-open{data: {target:"con#{post.id}", id:"#{post.id}"}}
                      .post-details.btn.btn-primary 詳細
                      
                    = render partial: "show_modal",locals: { post: post }

- else
  = render partial: "toppage"
